<!DOCTYPE html>

<html>
	<head>
		
		<!-- Website Title & Description for Search Engine purposes -->
		<title></title>
		<meta name="description" content="">
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- Bootstrap CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link href="includes/css/styles.css" rel="stylesheet">
		
		<!-- Include Modernizr in the head, before any other Javascript -->
		<script src="includes/js/modernizr-2.6.2.min.js"></script>
		
	</head>
	<body>
	<div class="container" id="main">
    <div class="navbar navbar-inverse navbar-fixed-top"><!--navrbar Starts Here-->
      <div class="container"><!--Navbar container starts here-->
				<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" aria-expanded="false">
					<span class="iconbar"></span>
					<span class="iconbar"></span>
					<span class="iconbar"></span>
				</button>
        <a class="navbar-brand" href="/">
					<img src="images/logo2.png" alt="Logo">
				</a>

				<div class="nav-collapse collapse navbar-responsive-collapse"><!--navbar collapse starts here-->
					<ul class="nav navbar-nav">
						<li class="active"> 
             <a href="#">HOME</a>
            </li>
            <li>
              <a href="#">GALLERY</a>
            </li>
            <li class="active"> 
              <a href="Template/power-wear.htm" target="_blank">POWER WEAR</a>
            </li>
          </ul>
          <form class="navbar-form pull-right">
            <input type="text" class="form-control" placeholder="Search this site..." id="searchInput">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
          </form><!-- end navbar-form --><!--navbar-searchForm ends-->
          <ul class="nav navbar-nav pull-right"><!--nav pull-right starts here-->
            <li class="dropdown"><!--Account dropdown starts here-->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe" aria-hidden="true"></i>Account<strong class="caret"></strong></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-inbox"></span>Dash Board</a>
                    </li>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-bookmark"></span>Profile</a>
                    </li>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-map-marker"></span>Address Book</a>
                    </li>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-eye-close"></span>Privacy</a>
                    </li>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-wrench"></span>Settings</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a>
                    </li>
                  </ul>
            </li><!--Account dropdown ends-->
          </ul><!--nav pull-right ends-->
        </div><!--navabar collapse end-->
      </div><!--Navbar container ends-->
    </div><!--navbar ends-->

    <div class="carousel slide" id="myCarousel">
    <!--Indicator starts here-->
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#myCarousel">
        </li>
        <li data-slide-to="1" data-target="#myCarousel">
        </li>
        <li data-slide-to="2" data-target="#myCarousel">
        </li>
        <li data-slide-to="3" data-target="#myCarousel">
        </li>
      </ol>
      <!--wrapper starts here-->
      <div class="carousel-inner">
        <div class="item active" id="slide1">
          <div class="carousel-caption" id="text_1">
            <h4>KTM 390 DUKE 2017</h4>
            <p>ONE FOR ALL</p>
          </div>
        </div><!--slide 1 ends here-->
        <div class="item" id="slide2">
          <div class="carousel-caption" id="text_2">
            <h4>KTM 1290 SUPER DUKE R 2017</h4>
            <p>UNLEASH THE BEAST</p>
          </div>
        </div><!--slide 2 ends here-->
        <div class="item" id="slide3">
          <div class="carousel-caption" id="text_3">
            <h4>KTM 1290 SUPER DUKE GT 2017</h4>
            <p>ADRENALINE EXPRESS</p>
          </div>
        </div><!--slide 3 ends here-->
        <div class="item" id="slide4">
          <div class="carousel-caption" id="text_4">
            <h4>KTM X-BOW</h4>
            <p>A REVOLUTIONARY SPORTS CAR CONCEPT</p>
          </div>
        </div><!--slide 4 ends here-->
      </div><!--carousel inner ends-->
      <!--controls-->
      <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
      <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
    </div><!--carousel ends-->

    <div class="row" id="featuresHeading">
      <div class="col-12">
        <h1>MEET OUR LEGENDS</h1>
      </div><!-- end col-12 -->
    </div><!--featuresHeading ends-->
    <div class="row" id="features">
      <div class="col-sm-3 feature">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">KTM DUKE 390</h3>
          </div><!-- end panel-heading -->
          <img src="images/round/390.png" alt="HTML5" class="img-circle">
          <p>The KTM 390 DUKE breathes life into values that have made motorcycling so amazing for decades. It combines maximum riding pleasure with optimum user value and comes out on top wherever nimble handling counts.390 DUKE – nowhere you will find more motorcycle per euro.</p>
          <a href="Template/390.html" target="_blank" class="btn btn-warning btn-block"><h4 style="color:black;">take A TOUR</h4></a>
        </div><!-- end panel -->
      </div><!-- end feature -->
      <div class="col-sm-3 feature">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">KTM DUKE 1290</h3>
          </div><!-- end panel-heading -->
          <img src="images/round/1290.jpg" alt="duke390" class="img-circle">
          <p>This is our punk record - pure, raw and straight to the point: speed.Its V-twin, the most powerful one we ever muscled into a street bike, beats the battle drums at 177 hp, while its purebred chassis is set to stay ahead when the straight is devoured.Grin amplifiers.</p>
          <a href="Template/1290.html" target="_blank" class="btn btn-warning btn-block"><h4 style="color:black;">take A TOUR</h4></a>
        </div><!-- end panel -->
      </div><!-- end feature -->
      <div class="col-sm-3 feature">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">KTM DUKE SPORT TOURER</h3>
          </div><!-- end panel-heading -->
          <img src="images/round/sport.png" alt="CSS3" class="img-circle">
          <p>The faster, the better. A motorcycle that is equally happy hunting horizons, as it is chasing superbikes. And crushing them – not only at cruising speeds. Welcome to the world of the 1290 Super Duke GT, where refinement, comfort, speed and ultimate performance rule.</p>
          <br>
          <a href="Template/sport-toure.html" target="_blank" class="btn btn-warning btn-block"><h4 style="color:black;">take A TOUR</h4></a>
        </div><!-- end panel -->
      </div><!-- end feature -->
      <div class="col-sm-3 feature">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">KTM X-BOW</h3>
          </div><!-- end panel-heading -->
          <img src="images/round/x-bow.png" alt="Bootstrap 3" class="img-circle">
          <p>Based on the X-BOW R - itself unique in the matter of high-tech and appearance - Austrian manufacturer KTM has created a vehicle whose exceptional characteristics. However, no other car epitomises the term "super sports car" as thoroughlyas the KTM X-BOW GT.</p>
          <a href="Template/x-bow.html" target="_blank" class="btn btn-warning btn-block"><h4 style="color:black;">take A TOUR</h4></a>
        </div><!-- end panel -->
      </div><!--features ends-->

    <div class="row" id="bigCallout"><!--Subscribe starts here-->
      <div class="col-12 ">
        <!-- Visible only on small devices -->
        <div class="well well-small visible-sm">
          <a href="" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-phone"></span> Give us a call!</a>
        </div><!-- end well-small -->
        <div class="well">
          <img src="images/readyToRace.png" class="img-rounded pull-right" alt="Cinque Terre" width="304" height="236">
          <div class="page-header">
            <h1>SUBSCRIBE <small>Subscribe here for Newsletter</small></h1>
          </div><!-- end page-header -->
          <p class="lead">Enter your e-mail ID</p>
          <div class="input-group" id="mail"  style="padding-right:20%">
            <span class="input-group-addon">www.</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.com</span>
          </div>
          <br>
          <a href="" class="btn btn-large btn-warning" id="alertMe">Subscribe</a>
          <a href="#myModal" role="button" class="btn btn-large btn-link btn-warning" data-toggle="modal">Sign-up</a>
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                  </div><!-- end modal-header -->
                  <div class="modal-body">
                    <div class="row" id="features">
                      <div class="col-sm-4 feature">
                        <a href="#" class="btn btn-large btn-danger" data-toggle="popover" data-placement="top" data-original-title="You  clicked it!" data-content="I knew you would.">Signin using Google+</a>
                      </div>
                      <div class="col-sm-4 feature">
                      <h2>or</h2>
                      </div>
                      <div class="col-sm-4 feature">
                        <a href="#" class="btn btn-large btn-info pull-right" data-toggle="popover" data-placement="top" data-original-title=" You clicked it!" data-content="I knew you would.">Signin using Facebook</a>
                      </div>
                    </div>
                    <h4>Guest</h4>
                    <a href="#" data-original-title="Go to Home" rel="tooltip">Click Here</a> to continue as a guest!
                    <hr>
                    <p><small class="text-muted">SIGN UP HERE</small></p>
                    <form class="form-horizontal" id="form">
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputName">UserName</label>
                        <div class="col-lg-10">
                          <input class="form-control" id="inputName" placeholder="Name" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputPwrd">Password</label>
                        <div class="col-lg-10">
                          <input class="form-control" id="inputName" placeholder="Name" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                        <div class="col-lg-10">
                          <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputMessage">Confirm Password</label>
                        <div class="col-lg-10">
                          <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                      </div>
                    </form>
                  </div><!-- end modal-body -->
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button> <button class="btn btn-primary" type="button"> Sign Up</button>
                  </div><!-- end modal-footer -->
                </div><!-- end modal-content -->
              </div><!-- end modal-dialog -->
            </div><!-- end myModal -->
          </div><!-- end well -->
          <div class="alert alert-success alert-block fade in" id="successAlert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Success!</h4>
            <p>You have successfully subscribed for Newsletter. Welcome and We are happy to see you. We will serve you more. </p>
          </div><!-- end alert -->
        </div>
      </div><!--Subscribe ends here-->
    </div>

    <div class="row" id="moreInfo" ><!--video starts here-->
      <div class="col-sm-6">
        <h3>VIDEOS</h3>
        <div class="tabbable">
          <ul class="nav nav-tabs"><!--Tabs start here-->
            <li class="active"><a href="#tab1" data-toggle="tab">Duke 1290</a></li>
            <li><a href="#tab2" data-toggle="tab">Duke 1290 GT</a></li>
            <li><a href="#tab3" data-toggle="tab">KTM X-BOW</a></li>
          </ul><!--Tabs ends here-->
          <div class="tab-content" id="content">
            <div class="tab-pane active" id="tab1">
              <iframe  width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"  class="video_1"src="https://www.youtube.com/embed/6h1e9oulMd8" frameborder="0" allowfullscreen>
              </iframe>
              <p>KTM DUKE1290</p>
              <p>This is our punk record - pure, raw and straight to the point: speed. Its V-twin, the most powerful one we ever muscled into a street bike, beats the battle drums at 177 hp, while its purebred chassis is set to stay ahead when the straight is devoured. When corners become prey. Even on a bad day, thanks to state-of-the-art rider assistance systems. No, scratch that. Grin amplifiers.</p>
            </div>
            <div class="tab-pane" id="tab2">
              <iframe  width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"  class="video_2"src="https://www.youtube.com/embed/6h1e9oulMd8" frameborder="0" allowfullscreen>
              </iframe>
              <p>KTM DUKE 1290 GT</p>
              <p>The 1290 Super Duke R got us thinking. What if we could match The Beast’s interstellar performance to all day, two-up comfort? What if we would train the most dynamic naked bike ever to race any paved road the world has on offer? Regardless of the weather. Over and over again. So we brought out the big guns, aiming for state-of-the-art ergonomics, electronics and extreme stamina. The result is a long distance V-twin rocket that proudly roars past the top of the food chain, hungry for more. For miles. The faster, the better. A motorcycle that is equally happy hunting horizons, as it is chasing superbikes. And crushing them – not only at cruising speeds. Welcome to the world of the 1290 Super Duke GT, where refinement, comfort, speed and ultimate performance rule.</p>
            </div>
            <div class="tab-pane" id="tab3">
              <iframe  width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0" class="video_3"src="https://www.youtube.com/embed/6h1e9oulMd8" frameborder="0" allowfullscreen>
              </iframe>
              <p>KTM X-BOW</p>
              <p>The production KTM X-BOW is KTM’s interpretation of a super sports car for the 21st century. "We took Colin Chapman's idea of a spartan, lightweight sports car reduced to the bare essentials and transfered it into the new millennium – with as many technological innovations as possible", says KTM CEO Stefan Pierer, of the first four-wheeled model in KTM’s history</p>
            </div>
          </div>
        </div>  
      </div>
      <div class="col-sm-6">
        <h3>FACTS & FIGURES</h3>
        <p>At the KTM GROUP our hard work, dedication and focus is upon creating class-leading motorcycles. So, while we have many impressive facts and figures to be proud of, we believe that these numbers are more a result of our hard work and proof of our success - rather than our reason for being in business.</p>
        <h4>A List Group</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <div class="row">
              <div class="col-sm-6 pull-left">
                <h4 class="list-group-item-heading">Stefan Pierer- CEO KTM</h4>
                <blockquote class="list-group-item-text">For those with a passion for high quality race machines.</blockquote>
              </div>
              <div class="col-sm-6 pull-right">
                <img src="images/ceo.jpg" alt="Bootstrap 3" class="img-circle" id="img-ktm">
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item">
            <div class="row">
              <div class="col-sm-6 pull-left">
                <h4 class="list-group-item-heading"></h4>
                <blockquote class="list-group-item-text">ENTER THE WORLD OF 'READY TO RACE'.</blockquote>
              </div>
              <div class="col-sm-6 pull-right">
                <img src="images/toi.png" alt="Bootstrap 3" class="img-circle" id="img-ktm">
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item">
            <div class="row">
              <div class="col-sm-6 pull-left">
                <h4 class="list-group-item-heading">CNN News 18</h4>
                <blockquote class="list-group-item-text">this is a fast little motorcycle</blockquote>
              </div>
              <div class="col-sm-6 pull-right">
                <img src="images/news.jpg" alt="Bootstrap 3" class="img-circle" id="img-ktm">
              </div>
            </div>
          </a>
        </div><!-- list-group -->
        <h5>OUR STRATEGY</h5>
        <p>Building premium-quality performance vehicles is only half of the task. Connecting customers with these vehicles is equally important.</p>
      </div><!-- end col-sm-6 -->
    </div><!--Video ends-->

    <div class="row" id="morenows">
        <div class="col-12">
          <h3>POWER WEARS</h3>
          <div class="thumbnails row">
            <div class="col-3">
              <div class="thumbnail">
                <img src="images/power-wear/power-wear-3.jpg" alt="PSD to HTML5 & CSS3">
                <div class="label label-success price">
                  <span class="glyphicon glyphicon-tag"></span> <sup>Rs.</sup>5000
                </div>
                <div class="caption">
                  <h3>Mayhem racing goggles</h3>
                  <p><a href="Template/power-wear.htm" target="_blank" class="btn btn-primary btn-small" target="_blank">shop now</a></p>
                </div><!-- end caption -->
              </div><!-- end thumbnail -->
            </div><!-- end col-3 -->
            <div class="col-3">
              <div class="thumbnail">
                <img src="images/power-wear/power-wear-2.png" alt="PSD to HTML5 & CSS3">
                <div class="label label-success price">
                  <span class="glyphicon glyphicon-tag"></span> <sup>Rs.</sup>20000
                </div>
                <div class="caption">
                  <h3>Gravity fx gloves orange</h3>
                  <p><a href="Template/power-wear.htm" target="_blank" class="btn btn-primary btn-small" target="_blank">shop now</a></p>
                </div><!-- end caption -->
              </div><!-- end thumbnail -->
            </div><!-- end col-3 -->
            <div class="col-3">
              <div class="thumbnail">
                <img src="images/power-wear/power-wear-4.jpg" alt="Web Hosting 101">
                <div class="label label-success price">
                  <span class="glyphicon glyphicon-tag"></span> <sup>Rs.</sup>1000
                </div>
                <div class="caption">
                  <h3>gravity fx pant orange</h3>
                  <p><a href="Template/power-wear.htm" target="_blank" class="btn btn-primary btn-small" target="_blank">shop now</a></p>
                </div><!-- end caption -->
              </div><!-- end thumbnail -->
            </div><!-- end col-3 -->
            <div class="col-3">
              <div class="thumbnail">
                <img src="images/power-wear/power-wear-5.jpg" alt="PSD to HTML5 & CSS3">
                <div class="label label-success price">
                  <span class="glyphicon glyphicon-tag"></span> <sup>Rs.</sup>39000
                </div>                
                <div class="caption">
                  <h3>garvity fx shirt orange</h3>
                  <p><a href="Template/power-wear.htm" target="_blank" class="btn btn-primary btn-small" target="_blank">shop now</a> 
                  </p>
                </div><!-- end caption -->
              </div><!-- end thumbnail -->
            </div><!-- end col-3 -->
          </div><!-- end row -->
        </div><!-- end col-12 -->
      </div><!-- end morenows -->
  </div>
	<!-- Your Code Goes Here. Remember to remove this comment once you've started, you don't need it :) -->
	

	<!-- All Javascript at the bottom of the page for faster page loading -->
		
	<!-- First try for the online version of jQuery-->
	<script src="http://code.jquery.com/jquery.js"></script>
	
	<!-- If no online access, fallback to our hardcoded version of jQuery -->
	<script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>
	
	<!-- Bootstrap JS -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Custom JS -->
	<script src="includes/js/script.js"></script>
	
	</body>
</html>

