/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:    Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
   text-align: center;
}
#features img{
   margin: 0 0 20px;
}

h1,h2,h3,h4,h5,h6,#mail{

   font-family: 'Comfortaa', cursive;
   color:#f97427;
   text-transform: uppercase;
}
p,blockquote{
   font-family: 'Julius Sans One', sans-serif;
   text-transform: uppercase;
   color:#f97427;
  font-size:120%;
}

#form{
    font-family: 'Comfortaa', cursive;
   color:#f97427;
}
body{
   background: url('../../images/2.jpg') top center;
   background-repeat: repeat-y;
}
blockquote {
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;
}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:0;
    left: 0;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    position:absolute;
    bottom:0; right: 0;
}
#img-ktm{
position:relative;
left: 120px;
}
footer {
    font-family: 'Comfortaa', cursive;
   color:#f97427;
   background: #333;
  
   font-size: 11px;
   padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

.well .page-header{
   margin-top: 0;
}
.well .page-header h1{
   margin-top: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

   #searchInput{
      width:200px;
   }  
   
   .navbar-brand{
    padding: 0px 0px;
 }

/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel{
      margin-top: 60px;
   }
   .carousel-caption h4{
      font-size: 24px;
   }
   .carousel-caption{
      font-size: 32px;
   }
   #myCarousel .item{
      height: 400px;
   }
   #slide1{
      background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
   }
   #slide2{
      background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
   }
   #slide3{
      background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
   }
   #slide4{
      background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
   }


/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
   margin-top: 20px;
   display: none;
}
.well{
   margin: 20px 0;
}
ul.unstyled {
   list-style: none;
   padding: 0;
}
.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}

.thumbnails {
   margin: 20px 0;
}

.thumbnail {
   position: relative;
}

.thumbnail h3 {
   font-size: 16px;
   margin: 0 0 10px;
   line-height: 20px;
}

.thumbnail .price {
   font-size: 22px;
   position: absolute;
   top: -10px;
   right: -10px;
   padding: 10px;
}

.thumbnail .price sup {
   font-weight: normal;
   font-size: 12px;
}

.thumbnail span.glyphicon {
   margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

   /* Portrait & landscape phone */
   @media (max-width: 480px) {
      #myCarousel .item{
         height: 400px;
      }
      #slide1{
         background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
      }
      #slide2{
         background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
      }
      #slide3{
         background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
      }
      #slide4{
         background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
      }
   }

   /* Landscape phone to portrait tablet */
   @media (max-width: 768px) {
      #myCarousel .item{
         height: 310px;
      }
      #slide1{
         background: url('../../images/carousel/carousel-small-1.jpg') top center no-repeat;
      }
      #slide2{
         background: url('../../images/carousel/carousel-small-2.jpg') top center no-repeat;
      }
      #slide3{
         background: url('../../images/carousel/carousel-small-3.jpg') top center no-repeat;
      }
      #slide4{
         background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
      }
      .carousel-caption h4{
         font-size: 16px;
      }
      .carousel-caption{
         font-size: 22px;
      }
   }

   /* Large desktop */
   @media (min-width: 1200px) {
      #myCarousel .item{
         height: 500px;
      }
      #slide1{
         background: url('../../images/carousel/carousel-large-1.jpg') top center no-repeat;
      }
      #slide2{
         background: url('../../images/carousel/carousel-large-2.jpg') top center no-repeat;
      }
      #slide3{
         background: url('../../images/carousel/carousel-large-3.jpg') top center no-repeat;
      }
      #slide4{
         background: url('../../images/carousel/carousel-large-4.jpg') top center no-repeat;
      }
   }