/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:   Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



   #features img{
     margin: 0 0 20px;
     text-align: center;
   }
   #features h2{
    position: relative;
    left:10px;
   }
   h1,h2,h3,h4,h5,h6,#mail{

     font-family: 'Comfortaa', cursive;
     color:#f97427;
     text-transform: uppercase;
   }
 
 p,blockquote{
     font-family: 'Julius Sans One', sans-serif;
     text-transform: uppercase;
     color:#f97427;
     font-size:120%;
   }

   div.panel{
   min-height: 700px;
 }
 .but2{
    position:relative; bottom:-70px;
  }
  .but3{
    position:relative; bottom:-25px;
  }
  .but4{
  position:relative; bottom:0px;
  }
   #form{
    font-family: 'Comfortaa', cursive;
    color:#f97427;
  }

 /* body{
   background-image: url('../../images/Mercedes-Benz AMG GT.jpg');
 }*/

  blockquote {
  padding: 6px 16px;
  border: none;
  display: inline-block;
  position: relative;
}

blockquote:before { 
  content: open-quote;
  font-weight: bold;
  position:absolute;
  top:0;
  left: 0;
} 
blockquote:after { 
  content: close-quote;
  font-weight: bold;
  position:absolute;
  bottom:0; right: 0;
}

#img-benz{
  position:relative;
  left: 30px;
}
 
 #form{
    font-family: 'Comfortaa', cursive;
    color:#f97427;
  }


footer {
  font-family: 'Comfortaa', cursive;
  color:orange;
  background: #333;
  
  font-size: 11px;
  padding: 20px;
  padding-bottom: 10px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

   .well .page-header{
     margin-top: 0;
   }
   .well .page-header h1{
     margin-top: 0;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */

   #searchInput{
    width:200px;
  }  

  .navbar-brand{
    padding: 0px 0px;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel{
    margin-top: 60px;
  }
  .carousel-caption h4{
    font-size: 32px;
  }
  .carousel-caption{
    font-size: 20px;
  }
  #myCarousel .item{
    height: 400px;
    background-size: 100% 400px;
  }


  #slide1{
    background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
  }
  #slide3{
    background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
  }
  #slide4{
    background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
  }


/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .alert{
     margin-top: 20px;
     display: none;
   }
   .well{
     margin: 20px 0;
   }
  ul.unstyled {
     list-style: none;
     padding: 0;
   }
   ul.unstyled,a{
    color: red;
   }

   .tabbable img {
     width: 600px;
     height: 350px
   } 

   .thumbnails {
     margin: 20px 0;
   }

   .thumbnail {
     position: relative;
   }

   .thumbnail h3 {
     font-size: 16px;
     margin: 0 0 10px;
     line-height: 20px;
   }

   .thumbnail img{
    width: 250px;
    height: 250px;
   }

   .thumbnail span.glyphicon {
     margin-right: 5px;
   }

   
/* --------------------------------------
   Media Queries
   -------------------------------------- */

   /* Portrait & landscape phone */
   @media (max-width: 480px) {
    #myCarousel .item{
     height: 400px;
     background-size: 100% 400px;
   }
   #slide1{
     background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
   }
   #slide2{
     background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
   }
   #slide3{
     background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
   }
   #slide4{
     background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
   }
 

.tabbable img {
    width: 100%;
    height: auto;
}


.thumbnail img{
    width: 100%;
    height: auto;
   }

.circled{

position: relative;
width: 100%;
height: auto;
}
}


 /* Landscape phone to portrait tablet */
 @media (max-width: 768px) {

  #myCarousel .item{
   height: 310px;
   background-size: 100% 400px;
 }
 #slide1{
   background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
 }
 #slide2{
   background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
 }
 #slide3{
   background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
 }
 #slide4{
   background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
 }
 .carousel-caption h4{
   font-size: 22px;
 }
 .carousel-caption{
   font-size: 16px;
 }


.tabbable img {
    width: 100%;
    height: auto;
}

.tabbable video {
    width: 100%;
    height: auto;
}

.thumbnail img{
    width: 100%;
    height: auto;
   }

.circled{

position: relative;
width: 100%;
height: auto;

}
}




/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
   height: 500px;
   background-size: 100% 400px;
 }
 #slide1{
   background: url('../../images/carousel/carousel-medium-1.jpg') top center no-repeat;
 }
 #slide2{
   background: url('../../images/carousel/carousel-medium-2.jpg') top center no-repeat;
 }
 #slide3{
   background: url('../../images/carousel/carousel-medium-3.jpg') top center no-repeat;
 }
 #slide4{
   background: url('../../images/carousel/carousel-medium-4.jpg') top center no-repeat;
 }


.tabbable img {
    width: 100%;
    height: auto;
}

.thumbnail img{
    width: 100%;
    height: auto;
   }

.circled{

position: relative;
width: 100%;
height: auto;


}
.but2{
  position:relative; bottom:10px;
  }

  .but3{
  position:relative; bottom:-9px;
  }
}


@media (max-width: 1200px){
  /*features adjust*/
 

  div.panel{
   min-height: 746px;
  }
  
.tabbable img {
    width: 100%;
    height: auto;
}

.thumbnail img{
    width: 100%;
    height: auto;
   }


.circled{

position: relative;
width: 100%;
height: auto;

}

.but2{
  position:relative; bottom:-90px;
  }
  .but3{
  position:relative; bottom:-10px;
  }
  }


@media (max-width: 992px){
  /*features adjust*/
 
  div.panel{
   min-height: 903px;
  }

.tabbable img {
    width: 100%;
    height: auto;
}

.thumbnail img{
    width: 100%;
    height: auto;
   }

   .but2{
    position:relative; bottom:-135px;
  }
  .but3{
    position:relative; bottom:-5px;
  }
  

.circled{

position: relative;
width: 100%;
height: auto;


}
}

@media (max-width: 767px){
  /*features adjust*/
 
  div.panel{
   min-height: 600px;
  }


.tabbable img {
    width: 100%;
    height: auto;
}
 
 .thumbnail img{
    width: 100%;
    height: auto;
   }

   
.circled{

position: relative;
width: 100%;
height: auto;

}
.but2{
  position:relative; bottom:10px;
  }

  .but3{
  position:relative; bottom:-9px;
  }
} 